body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.container {
    max-width: 390px;
    margin: auto;
    padding-top: 20px;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.img {
    width: 120px;
    border-radius: 10px;
}

.item {
    text-align: center;
}

.btn {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
